<div class="div-intro"  fxFlex="50" fxLayoutAlign="stretch" fxLayout="column" >
<div class="headline-intro"> Planer budżetu</div>
<div class="text-intro" >Chcemy pomóc Ci wiedzieć, na co dokładnie wydajesz swoje pieniądze i ile masz ich do dyspozycji.
  Wiedza o tym, na co wydawana jest każda złotówka, jest pierwszym krokiem do rozpoczęcia oszczędzania, wyjścia z długów lub przygotowania się do emerytury.
   Nasz planer budżetowy może Ci w tym pomóc.
</div>
<br><br>
<p class="text-intro2"><b>Dajemy Ci:</b></p>
  <ul class="text-intro2">
    <li>Miejsce do wprowadzania przychodów z poprzedniego miesiąca, jak i tych planowanych.</li>
    <li>Miejsce do wprowadzania wydatków i do tworzenia planu budżetowego.</li>
    <li>Przegląd sytuacji finansowej oraz realizacji budżetu, wraz z możliwością porównania z sytuacją finansową przeciętnego polskiego gospodarstwa domowego.</li>
    <li>Możliwość utworzenia własnych kategorii i podgategorii dostosowując je do własnych potrzeb.</li>
  </ul>
  <div class="headline-intro2"> Dołącz teraz!</div>
  <div class="text-intro2" ><p>Załóż konto i uzyskaj dostęp do zapisanego planu budżetowego.</p>
    <div class="intro-button-center"><button mat-raised-button class="sign-up-button-intro" title="Register" routerLink="/register">Dołącz!</button></div>
  </div>
</div>


